APP_HTTP_PORT=8087
APP_GRPC_PORT=50057

POSTGRES_USER=acl_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=acl_db
POSTGRES_HOST=acl_postgres
POSTGRES_PORT=5432

INTERNAL_SERVICE_TOKEN=change-me
PROFILE_SERVICE_GRPC_ADDR=profile:50058
PET_SERVICE_GRPC_ADDR=pet:50059
INVITE_TTL_MINUTES=10080
INVITE_DEEPLINK_BASE=pawly://invite?token=
