APP_PORT=8088
POSTGRES_USER=health_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=health_db
POSTGRES_HOST=health_postgres
POSTGRES_PORT=5432
ACL_GRPC_ADDR=acl:50057
ACL_HTTP_BASE_URL=http://acl:8087
FILE_GRPC_ADDR=file:50056
JWT_SECRET=change-me
JWT_ISSUER=pawly
INTERNAL_SERVICE_TOKEN=change-me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=auth_user
RABBITMQ_PASSWORD=change-me
RABBITMQ_PUSH_QUEUE=push.notifications
SCHEDULED_DISPATCH_INTERVAL_SEC=60
SCHEDULED_DISPATCH_BATCH_SIZE=100
SCHEDULED_HORIZON_INTERVAL_SEC=3600
SCHEDULED_HORIZON_BATCH_SIZE=100
