APP_PORT=8085
APP_GRPC_PORT=50059
POSTGRES_USER=pet_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=pet_db
POSTGRES_HOST=pet_postgres
POSTGRES_PORT=5432
ACL_GRPC_ADDR=acl:50057
FILE_GRPC_ADDR=file:50056
