APP_PORT=8086
APP_GRPC_PORT=50058
POSTGRES_USER=profile_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=profile_db
POSTGRES_HOST=profile_postgres
POSTGRES_PORT=5432
PROFILE_DEFAULT_LOCALE=ru
PROFILE_DEFAULT_TIMEZONE=Europe/Moscow
PROFILE_DEFAULT_DATE_FORMAT=dd.MM.yyyy
FILE_SERVICE_GRPC_ADDR=file:50056
INTERNAL_SERVICE_TOKEN=change-me
