APP_PORT=8090
POSTGRES_USER=push_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=push_db
POSTGRES_HOST=push_postgres
POSTGRES_PORT=5432
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=auth_user
RABBITMQ_PASSWORD=change-me
RABBITMQ_PUSH_QUEUE=push.notifications
JWT_SECRET=change-me
JWT_ISSUER=pawly
FCM_PROJECT_ID=
FCM_CREDENTIALS_FILE=/run/secrets/firebase-service-account.json
