APP_PORT=8088

POSTGRES_USER=health_user
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=health_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5437

ACL_GRPC_ADDR=localhost:50057
FILE_GRPC_ADDR=localhost:50056

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=auth_user
RABBITMQ_PASSWORD=
RABBITMQ_PUSH_QUEUE=push.notifications
SCHEDULED_DISPATCH_INTERVAL_SEC=60
SCHEDULED_DISPATCH_BATCH_SIZE=100
SCHEDULED_HORIZON_INTERVAL_SEC=3600
SCHEDULED_HORIZON_BATCH_SIZE=100
