APP_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_USER_EVENTS_QUEUE=

PROFILE_DEFAULT_LOCALE=
PROFILE_DEFAULT_TIMEZONE=
PROFILE_DEFAULT_DATE_FORMAT=