APP_PORT=8084

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=auth_user
RABBITMQ_PASSWORD=
RABBITMQ_EMAIL_QUEUE=email.notifications

TEMPLATE_DIR=./templates
DEFAULT_LOCALE=ru

SMTP_PRIMARY_HOST=
SMTP_PRIMARY_PORT=587
SMTP_PRIMARY_USERNAME=
SMTP_PRIMARY_PASSWORD=
SMTP_PRIMARY_FROM=
SMTP_PRIMARY_USE_STARTTLS=true
SMTP_PRIMARY_SKIP_TLS_VERIFY=false
SMTP_PRIMARY_USE_TLS=false

SMTP_FALLBACK_HOST=
SMTP_FALLBACK_PORT=0
SMTP_FALLBACK_USERNAME=
SMTP_FALLBACK_PASSWORD=
SMTP_FALLBACK_FROM=
SMTP_FALLBACK_USE_STARTTLS=false
SMTP_FALLBACK_SKIP_TLS_VERIFY=false

REQUEUE_ON_FAIL=false
