APP_PORT=8089
JWT_SECRET=

POSTGRES_USER=chat_user
POSTGRES_PASSWORD=
POSTGRES_DB=chat_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CHANNEL=chat.events
PRESENCE_TTL_SECONDS=45
PRESENCE_HEARTBEAT_SECONDS=15
