APP_PORT=8085
APP_GRPC_PORT=50059

POSTGRES_USER=pet_user
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=pet_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5435

ACL_GRPC_ADDR=localhost:50057
FILE_GRPC_ADDR=localhost:50056
